/*Main Page*/

.main-page{
/*width: 100vw;*/
height: 70vh;
display: flex;
justify-content: center;
flex-direction: column;
}
.main-page h3{
  margin: auto;
  font-size: 50px;
  /*padding-left: 25px;*/
}
.main-page span{
  padding-left: 180px;
}

.main-buttons{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}

.btn-lg{
  margin-left: 20px;
  font-size: 30px;
}
.ng-scope{
height: 76vh;
}

/*End of Main Page*/
